@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
   .container{
    @apply mx-auto px-4 sm:px-6 max-w-[1140px]
   }
   .key-input{
    @apply h-9 2xl:h-11 w-full text-white block bg-transparent border border-gray-800 outline-none text-center
   }
   .key-label{
    @apply block text-xs text-white/70 capitalize
   }

   .key-btn{
    @apply px-4 py-2 2xl:py-2.5 rounded text-white min-w-fit text-xs 2xl:text-sm capitalize
   }

   .key-btn-primary{
    @apply key-btn bg-gray-700
   }
   .key-btn-danger{
    @apply key-btn bg-red-600
   }

   .piano-btn{
    @apply text-center px-4 py-1.5 capitalize rounded-md bg-[#474747] text-sm text-gray-200 duration-300 shadow-1
   }
}

.piano{
    position: relative;
}

.piano::after{
    position: absolute;
    content: '';
    top: 100%;
    margin-top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background:  rgb(51, 51, 51);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.customScroll-none::-webkit-scrollbar {
    width: 0px;
}
.customScroll-none::-moz-scrollbar {
    width: 0px;
}

.configuire-board{
    background:  rgb(63, 63, 63);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.767) inset;
}

.switch{
    @apply text-black flex justify-center pb-4 text-sm items-end cursor-pointer select-none;
}

.note{
    width: 48px;
    @apply bg-white h-full flex-1 relative;
}

.semi-note-left, .semi-note-right, .semi-note-middle{
    @apply absolute text-white text-xs rounded-b-[6px] top-0 right-0 w-[70%] h-[68%] bg-gray-900 border-t-0 border-2 border-gray-950;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.4),
        inset 0 -4px 8px rgba(0, 0, 0, 0.6),
        inset 0 4px 8px rgba(255, 255, 255, 0.2); 
}

.semi-note-left{
    @apply translate-x-[25%]
}

.semi-note-right{
    @apply translate-x-[75%]
}

.semi-note-middle{
    @apply translate-x-[50%]
}

.cord{
    @apply h-full flex-1 flex gap-0.5 duration-300

}
.cord > .note:nth-child(1){
    z-index: 7;
}
.cord > .note:nth-child(2){
    z-index: 6;
}
.cord > .note:nth-child(3){
    z-index: 5;
}
.cord > .note:nth-child(4){
    z-index: 4;
}
.cord > .note:nth-child(5){
    z-index: 3;
}
.cord > .note:nth-child(6){
    z-index: 2;
}
.cord > .note:nth-child(7){
    z-index: 1;
}

.semi-note-left.active, .semi-note-right.active, .semi-note-middle.active{
    @apply bg-teal-500;
     box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.4), 
        inset 0 -2px 4px rgba(0, 0, 0, 0.6),
        inset 0 2px 4px rgba(255, 255, 255, 0.2) !important;
}

.note.active{
    @apply bg-teal-500
}

.shadow-1{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
}

.scale-change-header-child{
    @apply relative rounded-md bg-[#474747] text-sm text-gray-200 duration-300 size-[30px]  shadow-1 flex items-center justify-center
}

.scale-change-header{
    @apply rounded-md w-8 h-11 flex items-end justify-center; 
    box-shadow: 0 0 6px rgb(34, 34, 34) inset;
}

.notes-name{
    text-transform: capitalize;
    transition: all 300ms;
}

.hide-note.hide-note .switch .notes-name {
    opacity: 0;
    visibility: hidden;
}

.sound-wave {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

.wave {
    width: 2px;
    height: 6px;
    background-color: white;
    animation: wave-animation 1.5s infinite ease-in-out;
}

.wave:nth-child(2) {
    animation-delay: 0.3s;
}

.wave:nth-child(3) {
    animation-delay: 0.6s;
}

.wave:nth-child(4) {
    animation-delay: 0.9s;
}

@keyframes wave-animation {
    0% {
        transform: scaleY(1);
        opacity: 0.5;
    }
    50% {
        transform: scaleY(2.5);
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 0.5;
    }
}