@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-34 {
    @apply text-lg xl:text-2xl 2xl:text-3xl;
}

.font-24 {
    @apply text-base xl:text-xl 2xl:text-2xl;
}

.font-20 {
    @apply text-sm xl:text-lg 2xl:text-xl;
}

.font-19 {
    @apply text-sm xl:text-base 2xl:text-xl;
}

.font-18 {
    @apply text-[13px] xl:text-sm 2xl:text-lg;
}

.font-16 {
    @apply text-[11px] xl:text-[13px] 2xl:text-base;
}

.font-14 {
    @apply text-[10px] xl:text-[11px] 2xl:text-sm;
}

.font-12 {
    @apply text-[9px] xl:text-[10px] 2xl:text-xs;
}

  .key-input {
    @apply h-9 2xl:h-11 w-full text-white block bg-transparent border border-gray-800 outline-none text-center;
  }
  .key-label {
    @apply block font-14 text-white/70 capitalize;
  }

  .key-btn {
    @apply px-4 py-2 2xl:py-2.5 rounded text-white min-w-fit font-16 capitalize;
  }

  .key-btn-primary {
    @apply key-btn bg-gray-700;
  }
  .key-btn-danger {
    @apply key-btn bg-red-600;
  }

  .piano-btn {
    @apply text-center px-4 py-1.5 capitalize rounded-md bg-[#474747] font-16 text-gray-200 duration-300 shadow-1;
  }

  .piano-input {
    @apply px-4 py-1.5 capitalize rounded-md bg-[#474747] font-16 text-gray-200 duration-300 shadow-1;
  }
}

select {
  @apply outline-none;
}
.piano {
  position: relative;
}

.piano::after {
  position: absolute;
  content: "";
  top: 100%;
  margin-top: -10px;
  left: 0;
  width: 100%;
  height: 20px;
  background: rgb(51, 51, 51);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.customScroll-none::-webkit-scrollbar {
  width: 0px;
}
.customScroll-none::-moz-scrollbar {
  width: 0px;
}

.configuire-board {
  background: rgb(63, 63, 63);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.767) inset;
}

.switch {
  @apply text-black flex flex-col-reverse justify-start pb-4 items-center cursor-pointer select-none;
}

.note {
  @apply bg-white h-full flex-1 relative; 
}

#auto-play-timeline {
  background: rgb(26, 26, 26);
  box-shadow: 0 0 5px black inset;
  position: relative;
  transition: height 300ms linear;
}

#auto-play-timeline-inner .time-line{
  @apply flex-1 h-timelineHeight;
  position: relative
}

#auto-play-timeline-inner .time-line div{
  @apply h-full w-full
}

.semi-note-left,
.semi-note-right,
.semi-note-middle {
  @apply absolute text-white rounded-b-[6px] top-0 right-0 w-[70%] h-[68%] bg-gray-900 border-t-0 border-2 border-gray-950;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), inset 0 -4px 8px rgba(0, 0, 0, 0.6),
    inset 0 4px 8px rgba(255, 255, 255, 0.2);
}

#auto-play-timeline-inner .time-line .timeline-inner > div{
  @apply bg-teal-400;
  position: absolute;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  /* box-shadow: 0 0 20px rgb(45 212 191); */
}

#auto-play-timeline-inner .time-line .timeline-inner > div::after{
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.342), transparent);
  z-index: 1;
}

#auto-play-timeline-inner .time-line .timeline-inner-sharp > div{
  @apply bg-secondary;
  position: absolute;
  width: 100%;
  border-radius: 5px;
}

#auto-play-timeline-inner .time-line .timeline-inner-sharp > div::after{
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.342), transparent);
  z-index: 1;
}

#auto-play-timeline-inner .time-line .timeline-inner-sharp{
  @apply absolute top-0 right-0 h-full;
  width: 62%;
}

#auto-play-timeline-inner{
  @apply flex justify-between gap-0.5 items-end absolute bottom-0 left-0 right-0;
  min-height: 100%;
}

.semi-note-left, .timeline-inner-sharp-left {
  @apply translate-x-[25%];
}

.semi-note-right, .timeline-inner-sharp-right {
  @apply translate-x-[75%];
}

.semi-note-middle, .timeline-inner-sharp-middle {
  @apply translate-x-[50%];
}

.cord {
  @apply h-full flex-1 flex gap-0.5 duration-300;
}
.cord > .note:nth-child(1), #auto-play-timeline .time-line:nth-child(1) {
  z-index: 7;
}
.cord > .note:nth-child(2), #auto-play-timeline .time-line:nth-child(2) {
  z-index: 6;
}
.cord > .note:nth-child(3), #auto-play-timeline .time-line:nth-child(3) {
  z-index: 5;
}
.cord > .note:nth-child(4), #auto-play-timeline .time-line:nth-child(4) {
  z-index: 4;
}
.cord > .note:nth-child(5), #auto-play-timeline .time-line:nth-child(5) {
  z-index: 3;
}
.cord > .note:nth-child(6), #auto-play-timeline .time-line:nth-child(6) {
  z-index: 2;
}
.cord > .note:nth-child(7), #auto-play-timeline .time-line:nth-child(7) {
  z-index: 1;
}

.semi-note-left.active,
.semi-note-right.active,
.semi-note-middle.active {
  @apply bg-secondary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), inset 0 -2px 4px rgba(0, 0, 0, 0.6),
    inset 0 2px 4px rgba(255, 255, 255, 0.2) !important;
}

.note.active {
  @apply bg-primary;
}

/* #allCord.auto-play-active .note.active::after{
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0%;
  width: 100%;
  height: 20px;
  background: linear-gradient(to top, rgb(192, 192, 192), transparent);
  z-index: 1;
} */

.shadow-1 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
}

.scale-change-header-child {
  @apply relative rounded-md bg-[#474747] text-sm text-gray-200 duration-300 size-[30px]  shadow-1 flex items-center justify-center;
}

.scale-change-header {
  @apply rounded-md w-8 h-11 flex items-end justify-center;
  box-shadow: 0 0 6px rgb(34, 34, 34) inset;
}

.notes-name {
  text-transform: capitalize;
  transition: all 300ms;
}

.keys-name {
  transition: all 500ms;
  font-weight: bold;
}

.hide-note .notes-name {
  display: none;
}

.hide-key .keys-name {
  display: none;
}

.piano:not(.hide-note) .keys-name {
  color: tomato;
}

.sound-wave {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.wave {
  width: 2px;
  height: 6px;
  background-color: white;
  animation: wave-animation 1.5s infinite ease-in-out;
}

.wave:nth-child(2) {
  animation-delay: 0.3s;
}

.wave:nth-child(3) {
  animation-delay: 0.6s;
}

.wave:nth-child(4) {
  animation-delay: 0.9s;
}

@keyframes wave-animation {
  0% {
    transform: scaleY(1);
    opacity: 0.5;
  }
  50% {
    transform: scaleY(2.5);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 0.5;
  }
}

.slider {
  @apply rounded-full;
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  background: #5f5f5f;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  @apply bg-teal-400 size-[16px] rounded-full;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  @apply bg-teal-400 size-[16px] rounded-full;
  cursor: pointer;
}

.octave-line{
  /* background: rgba(128, 128, 128, 0.288); */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  transform: translateX(-50%);
}


.fade {
  animation: fade-in 300ms linear forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}